' Assign colors to a style name.
!define STYLE_LINE #Green
!define STYLE_BGC #ddd

' Load preset styles.
'!define STYLEPATH /Users/nickromans/ProjectSource/PlantUML Config/_puml-includes
'!include STYLEPATH/stylesheet.iuml
'!include STYLEPATH/functions.iuml

skinparam {
    DPI 100
    ParticipantBackgroundColor #eee
    SequenceGroupBodyBackgroundColor #fff
}
